.main {
  font-family: Verdana;
  text-align: center;
  align: center;
  color: #222222;
}

.logo {
  height: 160px;
  width: 160px;
}

@media (max-width: 1024px) {
  .logo {
    height: 80px;
    width: 80px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
